.form-container {
  margin: 10vh auto;
  width: 70vw;
  height: 80vh;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5); */
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: rgb(245, 244, 244); */
}

.form-content-left {
  background: linear-gradient(
    90deg,
    var(--color-primary-dark) 0%,
    var(--color-primary) 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .form-content-left {
    display: none;
  }
}
.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.form-success {
  text-align: center;
  font-size: 2.4rem;
  margin: 4rem auto;
  color: var(--color-white);
  width: 80%;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

@media only screen and (max-width: 800px) {
  .form-content-right {
    grid-column: 1 / 3;
  }
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1.6rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: var(--color-white);
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: var(--color-error);
}

.form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 6px;
  color: var(--color-white);
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  @media (max-width: 500px) {
    height: 3.2rem;
  }
}

.form-input::placeholder {
  color: var(--color-grey-dark);
  font-size: 1.2rem;
}

.form-input-btn {
  width: 80%;
  height: 5rem;
  margin-top: 1rem;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    var(--color-primary-dark) 0%,
    var(--color-primary) 100%
  );
  outline: none;
  border: none;
  color: var(--color-white);
  font-size: 1.6rem;

  @media (max-width: 500px) {
    height: 3.5rem;
  }
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    var(--color-primary-dark) 0%,
    var(--color-primary) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 1.2rem;
  margin-top: 10px;
  color: var(--color-white);
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
}

.form-input-login-position {
  font-size: 1.6rem;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
