.dashboard {
  margin-left: 8rem;
  @media (max-width: 600px) {
    margin-left: 0;
  }

  &__container {
    padding-top: 5rem;
  }

  &__card {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin-bottom: 2rem;

    &-balance {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        .heading {
          display: flex;
          align-items: center;
          font-size: 5rem;

          h2 {
            font-size: 4rem;
            margin-left: 1rem;

            @media (max-width: 500px) {
              font-size: 3rem;
            }
          }
        }
        .subheading p {
          margin-left: 18%;
          opacity: 70%;
        }
      }

      .right {
        img {
          height: 10rem;
          opacity: 15%;
          margin-right: 2vw;
        }

        @media (max-width: 500px) {
          display: none;
        }
      }
    }

    &-balance--orange {
      background-image: linear-gradient(
        to right bottom,
        var(--color-primary-dark) 30%,
        var(--color-primary)
      );
    }

    &-balance--white {
      .balance-card-icon {
        color: var(--color-primary);
      }
    }

    &-two {
      &__header--table {
        display: flex;
        justify-content: space-between;
        margin: 2rem 1rem;

        // h2 {
        // }

        .icon {
          font-size: 2.5rem;
          color: var(--color-primary);
        }
      }
      &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: 2rem 1rem;

        .icon {
          font-size: 2.5rem;
          color: var(--color-primary);
        }
      }
    }

    &-activity {
      &__body {
        padding: 0 1rem;

        .bullet-icon {
          color: rgb(23, 189, 23);
        }

        .td-1 {
          h3 {
            font-size: 1.6rem;
            span {
              color: red;
              font-size: 2rem;
              margin-left: -1.2rem;
            }
          }
        }
        .td-2 span {
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 2rem;
          padding: 5px 10px 7px 10px;
          color: var(--color-grey);
          margin-right: 3rem;
          @media (max-width: 500px) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

.table td,
.table th {
  padding: 2rem 0 !important;
}
