:root {
  --color-primary: #eb862c;
  --color-primary-dark: #e35930;

  --color-white: #fff;
  --color-black: #282828;
  --color-grey: #9c9c9c;
  --color-grey-light: #cfcfcf;
  --color-grey-dark: #474747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color-black);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-black);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

.center {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
